// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1{

display: block;
    font-size: 20px;
    font-weight: bold;
    color: red;
}

input[type="submit"]{
 cursor:pointer;
 color: red;
}
